<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.sud.mgp.hello">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 运行前台服务 -->

    <!-- 悬浮窗所需权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="tech.sud.mgp.hello.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />

    <uses-permission android:name="tech.sud.mgp.hello.permission.RECEIVE_MSG" />

    <application
        android:name=".app.HelloSudApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Hellosudandroid"
        tools:replace="android:supportsRtl"
        tools:targetApi="n">
        <!-- 启动页 -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 首页 -->
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <!-- 语聊房页面 -->
        <activity
            android:name=".ui.scenes.audio.activity.AudioRoomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- Custom场景 -->
        <activity
            android:name=".ui.scenes.custom.CustomActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- Custom配置场景 -->
        <activity
            android:name=".ui.scenes.custom.CustomConfigActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- 版本信息页面 -->
        <activity
            android:name=".ui.main.settings.activity.VersionInfoActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- 加载WebView的页面 -->
        <activity
            android:name=".ui.main.activity.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- 切换语言页面 -->
        <activity
            android:name=".ui.main.settings.activity.LanguageActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- 切换appid服务商 -->
        <activity
            android:name=".ui.main.settings.activity.ChangeAppIdActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- 透明Activity -->
        <activity
            android:name=".ui.common.activity.MyTranslucentActivity"
            android:theme="@style/MyTranslucentTheme"
            android:exported="false" />

        <!-- 屏幕适配配置 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />

        <!-- 屏幕适配配置 -->
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <!-- 房间服务 -->
        <service android:name=".ui.scenes.base.service.SceneRoomService" />

    </application>

</manifest>