*.iml
.gradle
project/.idea/*
.DS_Store
project/build
project/captures
.externalNativeBuild
.cxx
project/local.properties
project/fastlane/report.xml
project/fastlane/README.md
project/SudMGPSDK/build
project/DeveloperKit/build
project/SudASRSDK/build
project/SudGIPSDK/build
