<?xml version="1.0" encoding="utf-8"?>
<manifest package="tech.sud.mgp.audio"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".example.activity.AudioRoomActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>