<?xml version="1.0" encoding="utf-8"?>
<manifest package="tech.sud.mgp.audio"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".example.activity.AudioRoomActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>